<tr bgcolor=#fadefa>
	
<td align=center><%=player_for( item.question1 )%></td>
  	
<td align=center><%=player_for( item.question2 )%></td>
  

<td align=center><%=player_for( item.question3 )%></td>
  

<td align=center><%=player_for( item.question4 )%></td>  

<td align=center><%=player_for( item.question5 )%></td>

<td align=center><%=player_for( item.answer1 )%></td>

<td align=center><%=player_for( item.answer2 )%></td>

<td align=center><%=player_for( item.answer3 )%></td>

<td align=center><%=player_for( item.answer4 )%></td>

</tr>

