<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Chapters: <%= controller.action_name %></title>
  <%= javascript_include_tag  "jquery.min", "jquery_ujs" %>
  <%= csrf_meta_tag %>
  <style>
    body {
      background-color: #cec9d0;
	}
  </style>
</head>
<body dir=rtl>
<p style="color: green "><%= flash[:notice] %></p>

<h2>רשימת הפרקים עבור הבחינות המוגדרים במערכת</h2>

<table border=1 dir=rtl>

  <% for chapters_examination in @chapters_examinations %>
<tr>
  <td><%=chapters_examination.chapter.name%> <%=chapters_examination.chapter.number%></td>
  <td><%=chapters_examination.examination.name%></td>
  <td><%=chapters_examination.ind%></td>
 
    <td><%= link_to 'לערוך', edit_chapters_examination_path(chapters_examination) %></td>
    <td><%= raw link_to 'למחוק', chapters_examination, data: { confirm: 'Are you sure?' }, :method => :delete %></td>
  </tr>
<% end %>
</table>

</br>

<%= link_to 'להגדיר שיבוץ חדש', new_chapters_examination_path %>
</br></br>

<hr>

<a href="/examinations/list">רשימת בחינות המוגדרות במערכת</a> </br> </br>
<a href="/chapters/list">רשימת הפרקים המוגדרים במערכת</a></br> </br>
</body>
</html>